<div style="background-position: top!important;"class="learn-gen starter-home-pod  home_about feature-row">
  <div style="  text-align: center;
    width: 100%;
    margin: auto; max-width: 900px;" class="page-width">

<div class="learn-gen-title">
    <h3 class="small--hide pod-response" style="margin:auto;max-width: 600px;color:#fff; font-size:30px!important;padding-bottom: 15px;">{{ page.metafields.accentuate.gen_title }}

</h3>
    <h3 class="large--hide pod-response" style="color:#fff; font-size:23px!important;margin-top: 30px;">{{ page.metafields.accentuate.gen_title }}

 
</h3>

   
</div>



    <!----start -->


    <div>
      <div class="recycle_image_text">
        <div style="display: inline-flex;"class="gen starter-contain ">
          <div class=" half_grid">
<div style=" padding:22px;   border-radius: 7px ;" class="review_box">
       
      
      
      <img style="    border-radius: 7px ;"class="lazyload"data-src="{{ page.metafields.accentuate.image_box_1 }}">
      
   
      
      
      <div style="text-align:left ; padding-top:22px ;"class="review_rte addReadMore showlesscontent">
        <H5><strong>The POD device.</strong></h5><p>
{{ page.metafields.accentuate.box_1_text }} </p>
      </div>      
    </div>
          </div>
          <div class=" half_grid">
            <div style="display: inline-flex;"class="gen starter-contain">

<div style="     border-radius: 7px ;" class="review_box">
       
      
      
      <img style="  border-radius: 7px ;"class="lazyload"data-src="{{ page.metafields.accentuate.image_box_2 }}">
      
      
      
      <div style="padding-top:22px ;text-align:left" class="review_rte addReadMore showlesscontent">
        <h5><strong>The POD pack.</strong></h5><p>

{{ page.metafields.accentuate.box_2_text }} </p>
      </div>      
    </div>

            </div>
         
  </div>
</div> <div class="nicotine-section">
          <div class="nicotine-box">1 <span>
rechargeable device</span></div>
        <div class="nicotine-box">8 <span>
hours battery life</span></div>
          
          
        <div class="nicotine-box">400 <span>puffs per POD</span></div>
          
        </div></div>
</div></div>
 
</div>