<div style="background:#ffff!important;"class="learn-slide starter-home-pod  home_about feature-row">
  <div style="  text-align: center;
    width: 100%;
    margin: auto; max-width: 900px;" class="page-width">


<div>
    <h3 class="small--hide pod-response" style="margin:auto;max-width: 600px;color:#000; font-size:30px!important;padding-bottom: 15px;">
{{ page.metafields.accentuate.table_title }}




</h3>
    <h3 class="large--hide pod-response" style="color:#000; font-size:23px!important;margin-top: 30px;">{{ page.metafields.accentuate.table_title }}




</h3>

    <div style=" color:#000;  margin:auto;" class="home_merchrte">
      <p style="color:#000;">{{ page.metafields.accentuate.title_sub }}</p>
    </div>
</div>

  <div class=" grid--uniform grid--view-items home_proslider" id="learn_proslider">
  <div>
        
     <img style="max-width: 150px;"src="{{ page.metafields.accentuate.new_device }}">
<div class="LEARN-BOX-SLIDE home_merch_wrap merch_left home-merch-icons">
      
      
  
       
      
      
      
      
 <div class="home_merch_wrap merch_right home-merch-icons" style="
    position: absolute;
    top: 3%;
PADDING: 0 80PX;
   
">

      
<div style=" color:#000000;/* position: absolute; *//* top: 33%; */font-size: 10px;width: 100%;" class="learns-slide home_merchrte title--learn-focus1">        
        <div class="">


<p class="slide-title"><span class="slide-left-icon"><img data-sizes="auto" data-src="{{ page.metafields.accentuate.icon_new_1 }}" alt="" class="logo-bar__image lazyautosizes   lazyload" sizes="33px" src="{{ page.metafields.accentuate.icon_new_1 }}"></span>
{{ page.metafields.accentuate.new_left_1_title }}</p>
          <p class="left-side">{{ page.metafields.accentuate.new_left_1_info }}</p>
          </div>
         <div class="">
<p class="slide-title"><span class="slide-left-icon"><img data-sizes="auto" data-src="{{ page.metafields.accentuate.icon_new_2 }}" alt="" class="logo-bar__image lazyautosizes   lazyload" sizes="33px" src="{{ page.metafields.accentuate.icon_new_2 }}"></span>
{{ page.metafields.accentuate.new_left_2_title }}</p>

          <p class="left-side">{{ page.metafields.accentuate.new_left_2_info }}</p>
          </div>
        
         <div class="">
<p class="slide-title"><span class="slide-left-icon"><img data-sizes="auto" data-src="{{ page.metafields.accentuate.icon_new_3 }}" alt="" class="logo-bar__image lazyautosizes   lazyload" sizes="33px" src="{{ page.metafields.accentuate.icon_new_3 }}"></span>
{{ page.metafields.accentuate.new_left_3_title }}</p>

          <p class="left-side">{{ page.metafields.accentuate.new_left_3_info }}</p>
          </div>
        
        
      </div>
      
      
      
      
          
   
        
      
    </div>
      
      
      
      
    
   
        
      
    </div><div class="LEARN-BOX-SLIDE home_merch_wrap merch_right home-merch-icons">
      
      
  
       
      
      
      
      
 <div class="home_merch_wrap merch_left home-merch-icons" style="
    position: absolute;
    top: 3%;
  PADDING: 0 80PX;
">
      
      
  
       
      
      
      
      
<div style=" color:#000000;/* position: absolute; *//* top: 33%; */font-size: 10px;width: 100%;" class="learns-slide home_merchrte title--learn-focus1">        
        <div class="">
<p class="slide-title"><span class="slide-right-icon"><img data-sizes="auto" data-src="{{ page.metafields.accentuate.icon_new_1 }}" alt="" class="logo-bar__image lazyautosizes   lazyload" sizes="33px" src="{{ page.metafields.accentuate.icon_new_1 }}"></span>
{{ page.metafields.accentuate.new_right_1_title }}</p>

          <p class="right-side">{{ page.metafields.accentuate.new_right_1_info }}</p>
          </div>
         <div class="">
<p class="slide-title"><span class="slide-right-icon"><img data-sizes="auto" data-src="{{ page.metafields.accentuate.icon_new_2 }}" alt="" class="logo-bar__image lazyautosizes   lazyload" sizes="33px" src="{{ page.metafields.accentuate.icon_new_2 }}"></span>
{{ page.metafields.accentuate.new_right_2_title }}</p>

          <p class="right-side">{{ page.metafields.accentuate.new_right_2_info }}</p>
          </div>
        
         <div class="">
<p class="slide-title"><span class="slide-right-icon"><img data-sizes="auto" data-src="{{ page.metafields.accentuate.icon_new_3 }}" alt="" class="logo-bar__image lazyautosizes   lazyload" sizes="33px" src="{{ page.metafields.accentuate.icon_new_3 }}"></span>
{{ page.metafields.accentuate.new_right_3_title }}</p>

          <p class="right-side">{{ page.metafields.accentuate.new_right_3_info }}</p>
          </div>
        
        
      </div>
      
      
      
      
          
   
        
      
    </div>
      
      
      
      
       <div class="LEARN-BOX-SLIDE home_merch_wrap merch_right home-merch-icons">
      
      
  
       
      
      
      
      

      
      
      
      
          
   
        
      
    </div>   
   
        
      
    </div>

      

      

    
</div>
<div><img style="max-width: 150px;"src="{{ page.metafields.accentuate.old_device }}"><div class="LEARN-BOX-SLIDE home_merch_wrap merch_left home-merch-icons">
      
      
  
       
      
      
      
      
 <div class="home_merch_wrap merch_right home-merch-icons" style="
    position: absolute;
    top: 3%;
PADDING: 0 80PX;
   
">

      
<div style=" color:#000000;/* position: absolute; *//* top: 33%; */font-size: 10px;width: 100%;" class="learns-slide home_merchrte title--learn-focus1">        
        <div class="">
<p class="slide-title"><span class="slide-left-icon"><img data-sizes="auto" data-src="{{ page.metafields.accentuate.icon_old_1 }}" alt="" class="logo-bar__image lazyautosizes   lazyload" sizes="33px" src="{{ page.metafields.accentuate.icon_old_1 }}"></span>
{{ page.metafields.accentuate.left_1_title }}</p>
          <p class="left-side">{{ page.metafields.accentuate.left_1_info }}</p>
          </div>
         <div class="">
<p class="slide-title"><span class="slide-left-icon"><img data-sizes="auto" data-src="{{ page.metafields.accentuate.icon_old_2 }}" alt="" class="logo-bar__image lazyautosizes   lazyload" sizes="33px" src="{{ page.metafields.accentuate.icon_old_2 }}"></span>
{{ page.metafields.accentuate.left_2_title }}</p>

          <p class="left-side">{{ page.metafields.accentuate.left_2_info }}</p>
          </div>
        
         <div class="">
<p class="slide-title"><span class="slide-left-icon"><img data-sizes="auto" data-src="{{ page.metafields.accentuate.icon_old_3 }}" alt="" class="logo-bar__image lazyautosizes   lazyload" sizes="33px" src="{{ page.metafields.accentuate.icon_old_3 }}"></span>
{{ page.metafields.accentuate.left_3_title }}</p>

          <p class="left-side">{{ page.metafields.accentuate.left_3_info }}</p>
          </div>
        
        
      </div>
      
      
      
      
          
   
        
      
    </div>
      
      
      
      
    
   
        
      
    </div><div class="LEARN-BOX-SLIDE home_merch_wrap merch_right home-merch-icons">
      
      
  
       
      
      
      
      
 <div class="home_merch_wrap merch_left home-merch-icons" style="
    position: absolute;
    top: 3%;
  PADDING: 0 80PX;
">
      
      
  
       
      
      
      
      
<div style=" color:#000000;/* position: absolute; *//* top: 33%; */font-size: 10px;width: 100%;" class="learns-slide home_merchrte title--learn-focus1">        
        <div class="">
<p class="slide-title"><span class="slide-right-icon"><img data-sizes="auto" data-src="{{ page.metafields.accentuate.icon_old_1 }}" alt="" class="logo-bar__image lazyautosizes   lazyload" sizes="33px" src="{{ page.metafields.accentuate.icon_new_1 }}"></span>
{{ page.metafields.accentuate.right_1_title }}</p>

          <p class="right-side">{{ page.metafields.accentuate.right_1_info }}</p>
          </div>
         <div class="">
<p class="slide-title"><span class="slide-right-icon"><img data-sizes="auto" data-src="{{ page.metafields.accentuate.icon_old_2 }}" alt="" class="logo-bar__image lazyautosizes   lazyload" sizes="33px" src="{{ page.metafields.accentuate.icon_new_2 }}"></span>
{{ page.metafields.accentuate.right_2_title }}</p>

          <p class="right-side">{{ page.metafields.accentuate.right_2_info }}</p>
          </div>
        
         <div class="">
<p class="slide-title"><span class="slide-right-icon"><img data-sizes="auto" data-src="{{ page.metafields.accentuate.icon_old_3 }}" alt="" class="logo-bar__image lazyautosizes   lazyload" sizes="33px" src="{{ page.metafields.accentuate.icon_new_3 }}"></span>
{{ page.metafields.accentuate.right_3_title }}</p>

          <p class="right-side">{{ page.metafields.accentuate.right_3_info }}</p>
          </div>
        
        
      </div>
      
      
      
      
          
   
        
      
    </div>
      
      
      
      
       <div class="LEARN-BOX-SLIDE home_merch_wrap merch_right home-merch-icons">
      
      
  
       
      
      
      
      

      
      
      
      
          
   
        
      
    </div>   
   
        
      
    </div>

      

      

    
</div>

</div>

    <!----start -->

</div>
 
</div>
<script>
$(document).ready(function() { 

$('#learn_proslider').slick({
  dots: true,
infinite: true,
 slidesToShow: 1,
slidesToScroll: 1});
});
  
  
  
  
  
  
  

  
  
</script>
<style>
 .learns-slide p .slide-left-icon{
   float:right;
   margin-left:12px;


 }
  .learns-slide p .slide-right-icon{
   float:left;
   margin-right:12px;


 }
  .learns-slide p .slide-left-icon img,  .learns-slide p .slide-right-icon img{
       max-height: 26px!important;
  }
  .learns-slide  .slide-title{
    font-size:14px!IMPORTANT;
    PADDING:0PX !important;
    font-weight:bold;
        margin-bottom: 0;
  }
  .right-side {
    font-size:14px!IMPORTANT;
    PADDING: 10PX 0px 34px 42px;
  }
  .learns-slide p {
    font-size:14px!IMPORTANT;
  }
    .left-side  {
    PADDING: 10PX 43px 30px 0px;
  }
.home_proslider .slick-arrow {
height: 10%!IMPORTANT;
    border: none!important;
}
   @media (max-width: 767px){
.LEARN-BOX-SLIDE.home-merch-icons.home_merch_wrap {
    padding: 0px 15px!important;
 
}
          .home_proslider .slick-arrow {

    top: 23%;
}
      .learns-slide p .slide-left-icon, .learns-slide p .slide-right-icon{
   float:none;
   margin-left:0px;
        margin-right:0px;
 }
       .learns-slide p,.right-side,.left-slide{
    font-size:14px!IMPORTANT;
    PADDING: 0px;
  }
  }
</style>