{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="login-sidebar">
  <div class="close_slide lt-icon">&#xf157;</div>
  
   <h5 id="LoginHeading" class="login-n-title">sign in</h5>
   <h5 class="account-n-title" style="display:none;">Create an account</h5>
  <div class="main-sidebar-login">
	<div class="customer login">
      
      
  <div class="account_wrapper">
   
    
      <div class="form-message form-message--success hide" id="ResetSuccess" tabindex="-1">
        {{ 'customer.recover_password.success' | t }}
      </div>

      <div id="CustomerLoginForm" class="form-vertical">

        
        
        <div class="one-click-social-login"></div>
        
        <div class="line-login"></div>
        
       
        
        {% if settings.login_sub_title != blank %}
        <p class="sub_heading">{{ settings.login_sub_title }}</p>
        {%- endif -%}

        {% form 'customer_login', novalidate: 'novalidate' %}
   

          {%- if form.errors -%}
            <div class="form-message form-message--error">
              {{ form.errors | default_errors }}
            </div>
          {%- endif -%}
			
        {% comment %}
          <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
        {% endcomment %}
          <input
			placeholder="{{ 'customer.login.email' | t }}"
            type="email"
            name="customer[email]"
            id="CustomerEmail"
            autocomplete="email"
            autocorrect="off"
            autocapitalize="off"
                
            {%- if form.errors contains 'form' -%}
              class="input--error"
              aria-invalid="true"
            {%- endif -%}
            >
        
        
        

          {% if form.password_needed %}
        {% comment %}
            <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
        {% endcomment %}
            <input
			  placeholder="{{ 'customer.login.password' | t }}"
              type="password"
              value=""
              name="customer[password]"
              id="CustomerPassword"
              {%- if form.errors contains 'form' -%}
                class="input--error"
                aria-invalid="true"
              {%- endif -%}
            >
                 <div class="err_login"></div>

        	
        {% if form.password_needed %}
        <p><a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a></p>
            {% endif %}
        
          {% endif %}
        
        

        

        <div class="input_submit m-0">
          {% comment %}
           <input type="submit" class="btn_black" value="sign in">
          {% endcomment %}
          <button class="btn_black login_btn" type="submit">sign in</button>
        </div>
          
          
        {% endform %}
        <div class="register_other">
          <p>{{ settings.lable_sign_in }}</p>
          <a class="create_account_link" href="javascript:void(0)">
              Create an account
            </a>
        </div>
      </div>
		
      <div id="RecoverPasswordForm" class="hide">

        <div class="text-left">
          <h3 id="RecoverHeading">{{ 'customer.recover_password.title' | t }}</h3>
          <p class="sub_heading">{{ 'customer.recover_password.subtext' | t }}</p>
        </div>

        <div class="form-vertical">
          {% form 'recover_customer_password', id: 'recover_pass' %}

            {% comment %}
              Add a hidden span to indicate the form was submitted succesfully.
            {% endcomment %}
            {% if form.posted_successfully? %}
              <span class="hide reset-password-success"></span>
            {% endif %}
				
            
            {% comment %}
            <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
            {% endcomment %}
          
            <input
			  placeholder="{{ 'customer.recover_password.email' | t }}"
              type="email"
              value=""
              name="email"
              id="RecoverEmail"
              class="input-full{% if form.errors %} input--error{% endif %}"
              autocorrect="off"
              autocapitalize="off"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="RecoverEmail-email-error"
              {%- endif -%}
              >
            {%- if form.errors -%}
              <span id="RecoverEmail-email-error" class="input-error-message">
                {% include 'icon-error' %} {{ form.errors.messages['form'] }}
              </span>
            {%- endif -%}

            <div class="left-center">
              
              
              <div class="err_fp"></div>
              
              
              <div class="input_submit m-0">
     {% comment %}
   <input type="submit" class="btn_black forgot_password" value="{{ 'customer.recover_password.submit' | t }}">
      {% endcomment %}
          <button class="btn_black forgot_password" type="submit">{{ 'customer.recover_password.submit' | t }}</button>
              
              </div>
                
              

              <a href="#LoginHeading" id="HideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</a>
            </div>
          {% endform %}
        </div>

      </div>

      {% comment %}
        If accounts are set as optional, the following will be shown as an option
        during checkout, not on the default /login page.
      {% endcomment %}
      {% if shop.checkout.guest_login %}
        <div class="register_other form-vertical">
          <h3>{{ 'customer.login.guest_title' | t }}</h3>

          {% form 'guest_login' %}
          <div class="input_submit m-0 guest-m-0">
          <input type="submit" class="btn_black" value="{{ 'customer.login.guest_continue' | t }}">
        </div>
            
          {% endform %}
        </div>
    {% endif %}	
      
    </div>
</div>
    
    <div class="customer register form-vertical" style="display:none;">
    
      
      <div class="one-click-social-login"></div>
      
      <div class="line-login"></div>
  
  {%- form 'create_customer', novalidate: 'novalidate' -%}
    
       {% include 'form-status', form_id: formId %}
      
    <div class="field">      
      <input
        type="text"
        name="customer[first_name]"
        id="RegisterForm-FirstName"
        {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
        autocomplete="given-name"
        placeholder="{{ 'customer.register.first_name' | t }}"
      >
      
      
     
      

      {% comment %}
      <label for="RegisterForm-FirstName">
        {{ 'customer.register.first_name' | t }}
      </label>
      {% endcomment %}
      
    </div>
    <div class="field">
      <input
        type="text"
        name="customer[last_name]"
        id="RegisterForm-LastName"
        {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
        autocomplete="family-name"
        placeholder="{{ 'customer.register.last_name' | t }}"
      >
      {% comment %}
      <label for="RegisterForm-LastName">
        {{ 'customer.register.last_name' | t }}
      </label>
      {% endcomment %}
    </div>
    <div class="field">      
      <input
        type="email"
        name="customer[email]"
        id="RegisterForm-email"
        {% if form.email %} value="{{ form.email }}"{% endif %}
        spellcheck="false"
        autocapitalize="off"
        autocomplete="email"
        aria-required="true"
        {% if form.errors contains 'email' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-email-error"
        {% endif %}
        placeholder="{{ 'customer.register.email' | t }}"
      >
      
       
      
      
      
      {% comment %}
      <label for="RegisterForm-email">
        {{ 'customer.register.email' | t }}
      </label>
      {% endcomment %}
    </div>
    
    <div class="field">     
      <input
        type="password"
        name="customer[password]"
        id="RegisterForm-password"
        aria-required="true"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-password-error"
        {% endif %}
        placeholder="{{ 'customer.register.password' | t }}"
      >
      
      
      
      
      {% comment %}
      <label for="RegisterForm-password">
        {{ 'customer.register.password' | t }}
      </label>
      {% endcomment %}
    </div>
    {%- if form.errors contains 'password' -%}
      <span id="RegisterForm-password-error" class="form__message">
        <svg aria-hidden="true" focusable="false" role="presentation">
          <use href="#icon-error" />
        </svg>
        {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.
      </span>
    {%- endif -%}
      
      <div class="field unsubscribe-box"> 
      <input name="unsubscribe" id="unsubscribe" type="checkbox" checked value="" />
        <label for="unsubscribe"> 
        {{ settings.unsubscribe }}
      </label>
      </div>
    
       <div class="err_signup"></div>

      
      
    <div class="site_btn create_account_btn">
    <button class="btn_black btn_register">
      create an account
    </button>
      </div>
    
      
      <div class="register_other">
         <p>{{ settings.lable_create }}</p>
      <a class="create_login_link" href="javascript:void(0)">
        sign in
      </a>
        </div>
      
   
    
  {%- endform -%}
</div>
  </div>
  
 
   

</div>

<div class="login_overlay"> </div>


<script>
    $(function() {
      
       $( "#RegisterForm-email" )
  .keyup(function() {
    var value = $( this ).val();
    $( "#foo_email input" ).val( value );
  })
  .keyup();
      
      
      $('input#unsubscribe:checkbox').change(function(){
    if($(this).is(":checked")) {
       
      $( "#RegisterForm-email" )
  .keyup(function() {
    var value = $( this ).val();
    $( "#foo_email input" ).val( value );
  })
  .keyup();
      
    
      
    } else {
      	var values = $( this ).val();
        $( "#foo_email input" ).val(values);
    }
});
      
      
      
      
      
      		$('.btn_register').click(function() {
              //	$('.top-mc-form').trigger('change');
              $( "#foo_btn button" ).submit();
              //alert('456');
    			//$('.itemLinks [data-category=' + target_category + ']').show();
            });
      
    	/*$('.login_btn').click(function( event ) {
          event.preventDefault();
              var email = $("#CustomerEmail").val();
          
          var atpos = email.indexOf('@');
			var dotpos = email.lastIndexOf('.');
			var password = $("#CustomerPassword").val();
          
          
        	 if($.trim(email)=='')
			{
				$(".err_login").html("Please enter email");
				$(".err_login").show();
				$("#CustomerEmail").focus();
				return false;
			}
			else if(atpos<1 || dotpos<atpos+2 || dotpos+2>=email.length)
			{
				$(".err_login").html("Please enter valid email");
				$(".err_login").show();
				$("#CustomerEmail").focus();
				return false;
			}
			else if($.trim(password)=='')
			{
				$(".err_login").html("Please enter password");
				$(".err_login").show();
				$("#CustomerPassword").focus();
				return false;
			}
          else
          {
             $('#customer_login').get(0).submit();

          }
          
          
        });*/
      
      
    
     

     
      
    	/*$('.forgot_password').click(function( event ) {
          event.preventDefault();
              var email = $("#RecoverEmail").val();
          
       
          
          
        	 if($.trim(email)=='')
			{
				$(".err_fp").html("Please enter email");
				$(".err_fp").show();
				$("#RecoverEmail").focus();
				return false;
			}
			
          else
          {
             $('#recover_pass').get(0).submit();

          }
          
          
        });
      */
      
      
      
      
      
    /*  
   $('.btn_register').click(function( event ) {
          event.preventDefault();
      
      
         var firstname = $("#RegisterForm-FirstName").val();
         var email = $("#RegisterForm-email").val();
          
          var atpos = email.indexOf('@');
			var dotpos = email.lastIndexOf('.');
			var password = $("#RegisterForm-password").val();
      
           if($.trim(firstname)=='')
			{
				$(".err_signup").html("Please enter first name");
				$(".err_signup").show();
				$("#RegisterForm-FirstName").focus();
				return false;
			}
          
          
        	else if($.trim(email)=='')
			{
				$(".err_signup").html("Please enter email");
				$(".err_signup").show();
				$("#RegisterForm-email").focus();
				return false;
			}
			else if(atpos<1 || dotpos<atpos+2 || dotpos+2>=email.length)
			{
				$(".err_signup").html("Please enter valid email");
				$(".err_signup").show();
				$("#RegisterForm-email").focus();
				return false;
			}
			else if($.trim(password)=='')
			{
				$(".err_signup").html("Please enter password");
				$(".err_signup").show();
				$("#RegisterForm-password").focus();
				return false;
			}
     
         else
         {
           
            $('#create_customer').get(0).submit();
         }
      
     
          
          
        }); 
      */
   
      
      
      
      
      
      
      
    });	
  </script>