

<div class="recycle_image_text" style="   background-image:url('{{ product.metafields.desktop_background_i.cr_background_image}}')!important;
">
  <div class="technical-pod recycle_image_text_wrapper sec_align_right">
    <div  class="half_grid">
  
      
      
      
      
    <div style="padding:72% 0 0 0;position:relative;"><iframe class="lazyload" data-src="https://player.vimeo.com/video/732145602?h=5240283eba&amp;badge=0&amp;autopause=0&autoplay=1&loop=1&muted=1&background=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Space X device.mp4" loading="lazy"></iframe></div><script src="https://player.vimeo.com/api/player.js" async></script>
</div>
    <div style="padding: 20px;" class="half_grid">
      <div style="max-width: 500px;"class="section_info_wrapper">        
        <h2 style="font-size:34px;color:#fff;text-align:LEFT"class="h3">{{ product.metafields.accentuate.section_title }}</h2>
        <section style="padding:0;" id="product_des">
  <div>
    
    <div style="border-color:#ffffff6b!important;" class="accordion-tab1">  
       
        <div style="pointer-events: none; color:#ffffff6b;border-top: TRANSPARENT" class="accordion_n accordion-close_n" id="newsection_1  ">{{ product.metafields.accentuate.left_1_title }}<div class="notab">{{ product.metafields.accentuate.left_1_info }}</div></div> 
        <div style="color: rgb(255, 255, 255); display: none;" class="content_n">
        <p>Ingredients</p>
      </div>   <div style="pointer-events: none; color:#ffffff6b;border-top: 2px solid #ffffff6b" class="accordion_n accordion-close_n" id="newsection_2  ">{{ product.metafields.accentuate.left_2_title }}<div class="notab">{{ product.metafields.accentuate.left_2_info }}</div></div> 

     <div style="color: rgb(255, 255, 255); display: none;" class="content_n">
        <p>Ingredients</p>
      </div>
      
      <div style="pointer-events: none; color:#ffffff6b;border-top: 2px solid #ffffff6b" class="accordion_n accordion-close_n" id="newsection_3  ">{{ product.metafields.accentuate.left_3_title }}<div class="notab">{{ product.metafields.accentuate.left_3_info }}</div></div> 
      
      
      <div style="color: rgb(255, 255, 255); display: none;" class="content_n">
        <p>Ingredients</p>
      </div>
      
      
      
      <div style="color:#ffffff6b;border-top: 2px solid #ffffff6b;" class="accordion_n accordion-close_n" id="newsection_4">{{ product.metafields.accentuate.left_4_title }}<span></span></div> 
      
      
      <div  class="content_n">
                     <div style="color: #346d6b">{{ product.metafields.accentuate.left_4_ingredients_a_title }}</div>

        <p style="color: #fff">{{ product.metafields.accentuate.left_4_ingredients_a_info }}</p>
                <div style="color: #436cae">{{ product.metafields.accentuate.left_4_ingredients_b_title }}</div>

        <p style="color: #fff">{{ product.metafields.accentuate.left_4_ingredients_b_info }}</p>
                <div style="color: #825aa4">{{ product.metafields.accentuate.left_4_ingredients_c_title }}</div>

        <p style="color: #fff">{{ product.metafields.accentuate.left_4_ingredients_c_info }}</p>
                <div style="color: #e04264">{{ product.metafields.accentuate.left_4_ingredients_d_title }}</div>

        <p style="color: #fff">{{ product.metafields.accentuate.left_4_ingredients_d_info }}</p>
        
      </div>
      
      
      
      <div style="color:#ffffff6b;border-top: 2px solid #ffffff6b;" class="accordion_n accordion-close_n" id="newsection_5">{{ product.metafields.accentuate.left_5_title }}<span></span></div> 
      
      
      <div style="color: #fff" class="content_n">
        <p style="color: #fff">{{ product.metafields.accentuate.left_5_info }}</p>
      </div>
      
      
    </div>
  </div>
</section>
        
        
        </div>
  
    </div>
  </div>
</div>

