<style>
  .starter-home-pod {
    background-image:url('{{ shop.metafields.globals.starter_kit_bg}}');
    padding-top: 60px;
    background-size: cover;
    min-height: 1100px;
    background-position: bottom;
  }

  .starter-home-pod .half_grid .starter-box {
    float: none;
    width: 400px;
    background: #fff;
    padding: 15px 0px;
    border-radius: 20px;
    display: inline-block;
    box-shadow: 0 0 20px #fff !important;
    -webkit-box-shadow: 0 0 20px #ffff !important;
    min-height: 100px;
    text-align: center;
    border-radius: 4px 4px 0 0;


  }

  .starter-home-pod .half_grid .starter-box img {
    height: 92px !important;
    border-radius: 7px;
    margin: 0px 20px 0px;
  }

  .starter-home-pod .half_grid .starter-box {

    display: flex;
  }

  .starter-home-pod .half_grid {
    float: none;
    width: auto;
    margin: 20px;
  }

  .starter-home-pod .starter-contain {

    display: flex;
  }

  @media(max-width:767px) {

    .starter-home-pod .half_grid .starter-box {

      display: block;
      margin: auto;
      width: 100%;
    }

    .starter-home-pod .starter-contain {

      display: block;
    }
    .starter-home-pod .half_grid {
      float: none;
      width: auto;
      margin: 10px 0;
    }
    .starter-home-pod .half_grid .starter-box img {
      height: 92px !important;
      border-radius: 7px;
      margin: 0px 12px 0px;
    }
    .starter-home-pod {
      background-image:url('{{ shop.metafields.globals.starter_kit_bg}}');
      padding-top: 60px;
      background-size: cover;
      min-height: 1200px;
      padding: 15px;
    }

  }
</style>






<div class="starter-home-pod " class="full__width page-width p-0 w_1053">
  <div style="  text-align: center;
    width: 100%;
    margin: auto; max-width: 900px;" class="home-pod  merch_center">


    <h3 class="small--hide pod-response" style="color:#fff; font-size:30px!important;padding-bottom: 15px;">WHAT’S IN THE KIT?</h3>
    <h3 class="large--hide pod-response" style="color:#fff; font-size:23px!important;margin-top: 30px;">WHAT’S IN THE KIT?</h3>

    <div style=" color:#fff;   margin-bottom: -19px;" class="home_merchrte">
      <p style="color:#fff;">Next-level ripple+ tech and our cleanest ever puffs are only a Starter Kit away. Here’s what’s inside:</p>
    </div>



    <img style="margin: auto;width: 100%;padding-bottom:10px;" id="" class="lazyload " src="" data-src="{{ product.metafields.accentuate.starter_kit_img }}"
      data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" data-expand="-20" alt="">

    <!----start -->


    <div>
      <div class="recycle_image_text">
        <div class=" starter-contain ">
          <div class=" half_grid">
            <div class="starter-box">


              <div style="display:flex" class="text-icon">
                <img style=" " data-sizes="auto" data-src="
          {{ shop.metafields.globals.product_kit_1 }}" alt="" class=" lazyautosizes   lazyload" sizes="497px" src="{{ shop.metafields.globals.product_kit_1 }}">

                <div style="text-align:left" class="">

                  <h5 style="font-size:14px">{{ shop.metafields.globals.product_kit_title1 }}</h5>
                  <div style="font-size:12px;padding:2px" class="">
                    {{ shop.metafields.globals.product_kit_info1 }}</div>

                </div>
              </div>
            </div>
          </div>
          <div class=" half_grid">
            <div class="starter-box">


              <div style="display:flex" class="text-icon">
                <img style=" " data-sizes="auto" data-src="
          {{ shop.metafields.globals.product_kit_2 }}" alt="" class=" lazyautosizes   lazyload" sizes="497px" src="{{ shop.metafields.globals.product_kit_2 }}">

                <div style="text-align:left" class="">

                  <h5 style="font-size:14px">{{ shop.metafields.globals.product_kit_title2 }}</h5>
                  <div style="font-size:12px;padding:2px" class="">
                    {{ shop.metafields.globals.product_kit_info2 }} </div>

                </div>
              </div>

            </div>
            <section style="padding:0;   " id="product_des">
              <div>

                <div style="border-color:#ffffff6b!important; box-shadow: 0 0 20px #fff!important;    border-radius: 0 0 4px 4px;    background: #fff;
    -webkit-box-shadow: 0 0 20px #ffff!important;" class="accordion-tab1">





                  <div style="color:#ffffff6b;padding:0!important;border-bottom:none!important;border-top:none!important" class="accordion_n accordion-close_n"
                    id="newsection_4">
                    <span style="color:#000;top:-119px;right:10px"></span>
                  </div>


                  <div class="content_n">

                    <div style="display:flex;text-align:left" class="text-icon">
                      <img style="    margin: 0px 20px 20px;" data-sizes="auto" data-src="{{shop.metafields.globals.k2_ing_img1}}" alt="" class="logo-bar__image lazyautosizes   lazyload"
                        sizes="497px" src="">
                      <div style="block!important">
                        <h5 style="color: #000;margin:0">{{ shop.metafields.globals.k2_ing_title }}</h5>
                        <p style="font-size:12px;color: #000">{{shop.metafields.globals.k2_ing_info1}}</p>
                      </div>
                    </div>
                    <div style="display:flex;text-align:left" class="text-icon">
                      <img style="    margin: 0px 20px 20px;" data-sizes="auto" data-src="{{shop.metafields.globals.k2_ing_img2}}" alt="" class="logo-bar__image lazyautosizes   lazyload"
                        sizes="497px" src="">
                      <div style="block!important">
                        <h5 style="color: #000;margin:0">{{shop.metafields.globals.k2_ing_title2}}</h5>
                        <p style="font-size:12px;color: #000">{{shop.metafields.globals.k2_ing_info2}}</p>
                      </div>
                    </div>

                    <div style="display:flex;text-align:left" class="text-icon">
                      <img style="    margin: 0px 20px 20px;" data-sizes="auto" data-src="{{shop.metafields.globals.k2_ing_img3}}" alt="" class="logo-bar__image lazyautosizes   lazyload"
                        sizes="497px" src="">
                      <div style="block!important">
                        <h5 style="color: #000;margin:0">{{shop.metafields.globals.k2_ing_title3}}</h5>

                        <p style="font-size:12px;color: #000">{{shop.metafields.globals.k2_ing_info3}}</p>
                      </div>
                    </div>
                  </div>





                </div>
              </div>
            </section>

          </div>





        </div>

      </div>



      <div class="recycle_image_text">
        <div class=" starter-contain ">
       <div class=" half_grid">
            <div class="starter-box">


              <div style="display:flex" class="text-icon">
                <img style=" " data-sizes="auto" data-src="
          {{ shop.metafields.globals.product_kit_3 }}" alt="" class=" lazyautosizes   lazyload" sizes="497px" src="{{ shop.metafields.globals.product_kit_3 }}">

                <div style="text-align:left" class="">

                  <h5 style="font-size:14px">{{ shop.metafields.globals.product_kit_title3 }}</h5>
                  <div style="font-size:12px;padding:2px" class="">
                    {{ shop.metafields.globals.product_kit_info3 }} </div>

                </div>
              </div>

            </div>
            <section style="padding:0;   " id="product_des">
              <div>

                <div style="border-color:#ffffff6b!important; box-shadow: 0 0 20px #fff!important;    border-radius: 0 0 4px 4px;    background: #fff;
    -webkit-box-shadow: 0 0 20px #ffff!important;" class="accordion-tab1">





                  <div style="color:#ffffff6b;padding:0!important;border-bottom:none!important;border-top:none!important" class="accordion_n accordion-close_n"
                    id="newsection_4">
                    <span style="color:#000;top:-119px;right:10px"></span>
                  </div>


                  <div class="content_n">

                    <div style="display:flex;text-align:left" class="text-icon">
                      <img style="    margin: 0px 20px 20px;" data-sizes="auto" data-src="{{shop.metafields.globals.k3_ing_img1}}" alt="" class="logo-bar__image lazyautosizes   lazyload"
                        sizes="497px" src="">
                      <div style="block!important">
                        <h5 style="color: #000;margin:0">{{ shop.metafields.globals.k3_ing_title }}</h5>
                        <p style="font-size:12px;color: #000">{{shop.metafields.globals.k3_ing_info1}}</p>
                      </div>
                    </div>
                    <div style="display:flex;text-align:left" class="text-icon">
                      <img style="    margin: 0px 20px 20px;" data-sizes="auto" data-src="{{shop.metafields.globals.k3_ing_img2}}" alt="" class="logo-bar__image lazyautosizes   lazyload"
                        sizes="497px" src="">
                      <div style="block!important">
                        <h5 style="color: #000;margin:0">{{shop.metafields.globals.k3_ing_title2}}</h5>
                        <p style="font-size:12px;color: #000">{{shop.metafields.globals.k3_ing_info2}}</p>
                      </div>
                    </div>

                    <div style="display:flex;text-align:left" class="text-icon">
                      <img style="    margin: 0px 20px 20px;" data-sizes="auto" data-src="{{shop.metafields.globals.k3_ing_img3}}" alt="" class="logo-bar__image lazyautosizes   lazyload"
                        sizes="497px" src="">
                      <div style="block!important">
                        <h5 style="color: #000;margin:0">{{shop.metafields.globals.k3_ing_title3}}</h5>

                        <p style="font-size:12px;color: #000">{{shop.metafields.globals.k3_ing_info3}}</p>
                      </div>
                    </div>
                  </div>





                </div>
              </div>
            </section>

          </div>


       <div class=" half_grid">
            <div class="starter-box">


              <div style="display:flex" class="text-icon">
                <img style=" " data-sizes="auto" data-src="
          {{ shop.metafields.globals.product_kit_4 }}" alt="" class=" lazyautosizes   lazyload" sizes="497px" src="{{ shop.metafields.globals.product_kit_4 }}">

                <div style="text-align:left" class="">

                  <h5 style="font-size:14px">{{ shop.metafields.globals.product_kit_title4 }}</h5>
                  <div style="font-size:12px;padding:2px" class="">
                    {{ shop.metafields.globals.product_kit_info4 }} </div>

                </div>
              </div>

            </div>
            <section style="padding:0;   " id="product_des">
              <div>

                <div style="border-color:#ffffff6b!important; box-shadow: 0 0 20px #fff!important;    border-radius: 0 0 4px 4px;    background: #fff;
    -webkit-box-shadow: 0 0 20px #ffff!important;" class="accordion-tab1">





                  <div style="color:#ffffff6b;padding:0!important;border-bottom:none!important;border-top:none!important" class="accordion_n accordion-close_n"
                    id="newsection_4">
                    <span style="color:#000;top:-119px;right:10px"></span>
                  </div>


                  <div class="content_n">

                    <div style="display:flex;text-align:left" class="text-icon">
                      <img style="    margin: 0px 20px 20px;" data-sizes="auto" data-src="{{shop.metafields.globals.k4_ing_img1}}" alt="" class="logo-bar__image lazyautosizes   lazyload"
                        sizes="497px" src="">
                      <div style="block!important">
                        <h5 style="color: #000;margin:0">{{ shop.metafields.globals.k4_ing_title }}</h5>
                        <p style="font-size:12px;color: #000">{{shop.metafields.globals.k4_ing_info1}}</p>
                      </div>
                    </div>
                    <div style="display:flex;text-align:left" class="text-icon">
                      <img style="    margin: 0px 20px 20px;" data-sizes="auto" data-src="{{shop.metafields.globals.k4_ing_img2}}" alt="" class="logo-bar__image lazyautosizes   lazyload"
                        sizes="497px" src="">
                      <div style="block!important">
                        <h5 style="color: #000;margin:0">{{shop.metafields.globals.k4_ing_title2}}</h5>
                        <p style="font-size:12px;color: #000">{{shop.metafields.globals.k4_ing_info2}}</p>
                      </div>
                    </div>

                    <div style="display:flex;text-align:left" class="text-icon">
                      <img style="    margin: 0px 20px 20px;" data-sizes="auto" data-src="{{shop.metafields.globals.k4_ing_img3}}" alt="" class="logo-bar__image lazyautosizes   lazyload"
                        sizes="497px" src="">
                      <div style="block!important">
                        <h5 style="color: #000;margin:0">{{shop.metafields.globals.k4_ing_title3}}</h5>

                        <p style="font-size:12px;color: #000">{{shop.metafields.globals.k4_ing_info3}}</p>
                      </div>
                    </div>
                  </div>





                </div>
              </div>
            </section>

          </div>


        </div>




      </div>

    </div>



    <div class="recycle_image_text">
      <div class=" starter-contain ">
       <div class=" half_grid">
            <div class="starter-box">


              <div style="display:flex" class="text-icon">
                <img style=" " data-sizes="auto" data-src="
          {{ shop.metafields.globals.product_kit_5 }}" alt="" class=" lazyautosizes   lazyload" sizes="497px" src="{{ shop.metafields.globals.product_kit_5 }}">

                <div style="text-align:left" class="">

                  <h5 style="font-size:14px">{{ shop.metafields.globals.product_kit_title5 }}</h5>
                  <div style="font-size:12px;padding:2px" class="">
                    {{ shop.metafields.globals.product_kit_info5 }} </div>

                </div>
              </div>

            </div>
            <section style="padding:0;   " id="product_des">
              <div>

                <div style="border-color:#ffffff6b!important; box-shadow: 0 0 20px #fff!important;    border-radius: 0 0 4px 4px;    background: #fff;
    -webkit-box-shadow: 0 0 20px #ffff!important;" class="accordion-tab1">





                  <div style="color:#ffffff6b;padding:0!important;border-bottom:none!important;border-top:none!important" class="accordion_n accordion-close_n"
                    id="newsection_4">
                    <span style="color:#000;top:-119px;right:10px"></span>
                  </div>


                  <div class="content_n">

                    <div style="display:flex;text-align:left" class="text-icon">
                      <img style="    margin: 0px 20px 20px;" data-sizes="auto" data-src="{{shop.metafields.globals.k5_ing_img1}}" alt="" class="logo-bar__image lazyautosizes   lazyload"
                        sizes="497px" src="">
                      <div style="block!important">
                        <h5 style="color: #000;margin:0">{{ shop.metafields.globals.k5_ing_title }}</h5>
                        <p style="font-size:12px;color: #000">{{shop.metafields.globals.k5_ing_info1}}</p>
                      </div>
                    </div>
                    <div style="display:flex;text-align:left" class="text-icon">
                      <img style="    margin: 0px 20px 20px;" data-sizes="auto" data-src="{{shop.metafields.globals.k5_ing_img2}}" alt="" class="logo-bar__image lazyautosizes   lazyload"
                        sizes="497px" src="">
                      <div style="block!important">
                        <h5 style="color: #000;margin:0">{{shop.metafields.globals.k5_ing_title2}}</h5>
                        <p style="font-size:12px;color: #000">{{shop.metafields.globals.k5_ing_info2}}</p>
                      </div>
                    </div>

                    <div style="display:flex;text-align:left" class="text-icon">
                      <img style="    margin: 0px 20px 20px;" data-sizes="auto" data-src="{{shop.metafields.globals.k5_ing_img3}}" alt="" class="logo-bar__image lazyautosizes   lazyload"
                        sizes="497px" src="">
                      <div style="block!important">
                        <h5 style="color: #000;margin:0">{{shop.metafields.globals.k5_ing_title3}}</h5>

                        <p style="font-size:12px;color: #000">{{shop.metafields.globals.k5_ing_info3}}</p>
                      </div>
                    </div>
                  </div>





                </div>
              </div>
            </section>

          </div>


        <div class=" half_grid">
          <div class="starter-box">


            <div style="display:flex" class="text-icon">
              <img style=" " data-sizes="auto" data-src="
          {{ shop.metafields.globals.product_kit_6 }}" alt="" class=" lazyautosizes   lazyload" sizes="497px" src="{{ shop.metafields.globals.product_kit_6 }}">

              <div style="text-align:left" class="">

                <h5 style="font-size:14px">{{ shop.metafields.globals.product_kit_title6 }}</h5>
                <div style="font-size:12px; padding:2px" class="">
                  {{ shop.metafields.globals.product_kit_info6 }} </div>

              </div>
            </div>
          </div>
        </div>





      </div>

    </div>
  </div>
</div>




<style>
  .kit .half_grid {
    width: 50%;
  }

  @media (max-width: 767px) {

    .kit .half_grid {
      width: 100%;
    }
    .recycle_image_text_wrapper {
      flex-direction: column-reverse;
    }
    .keypoint-bar {
      margin: 0 2px !important;
    }
  }

  .flavour-pick li {
    padding: 15px 5px;
  }
</style>