{{ 'account.css' | asset_url | stylesheet_tag }}

<div class="page-width text-center" id="activate_account">
  <div class="grid">
  <div class="account_wrapper account_form">  


      <div class="form-vertical">
        
        <h1 id="LoginHeading" class="text-center">{{ 'customer.activate_account.title' | t }}</h1>
        
        <p class="sub_heading">{{ 'customer.activate_account.subtext' | t }}</p>
        
        {% form 'activate_customer_password' %}

          {%- if form.errors -%}
            <div class="form-message form-message--error">
              {{ form.errors | default_errors }}
            </div>
          {%- endif -%}

          <label for="CustomerPassword" class="label--hidden">{{ 'customer.activate_account.password' | t }}</label>
          <input type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="{{ 'customer.activate_account.password' | t }}">

          <label for="CustomerPasswordConfirmation" class="label--hidden">{{ 'customer.activate_account.password_confirm' | t }}</label>
          <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" placeholder="{{ 'customer.activate_account.password_confirm' | t }}">

        <div class="input_submit m-0">
          <i></i>
          <span><input type="submit" class="btn_input" value="{{ 'customer.activate_account.submit' | t }}"></span>	
        </div>
          
        
          <div class="decline_btn">
            <div class="input_submit m-0">
          <i></i>
          <span><input type="submit" name="decline" class="btn_input" value="{{ 'customer.activate_account.cancel' | t }}"></span>	
        </div>
            
            </div>
        {% endform %}
      </div>
      
    </div>
      

  </div>
</div>
