{{ 'account.css' | asset_url | stylesheet_tag }}
<div class="page-width">
  <div class="grid">
    <div class="account_wrapper account_form">
        
        
        <div class="form-vertical">
          {% form 'reset_customer_password' %}
          <h1 id="LoginHeading" class="text-center">{{ 'customer.reset_password.title' | t }}</h1>

            <p class="sub_heading">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

            {%- if form.errors -%}
              <div class="form-message form-message--error">
                {{ form.errors | default_errors }}
              </div>
            {%- endif -%}

            <label for="ResetPassword" class="hide">{{ 'customer.reset_password.password' | t }}</label>
            <input placeholder="{{ 'customer.reset_password.password' | t }}" type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">

            <label for="PasswordConfirmation" class="hide">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input placeholder="{{ 'customer.reset_password.password_confirm' | t }}" type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">

          <div class="input_submit m-0">
          <i></i>
          <span><input type="submit" class="btn_input" value="{{ 'customer.reset_password.submit' | t }}"></span>	
        </div>
            
          {% endform %}
        </div>

      </div>
    </div>
  </div>

