<div class="social">
  
    
    <div class="social__marquee">
<!--       <h2 class="visually-hidden">Follow Us @chachamatcha&nbsp;</h2> -->
<div aria-hidden="true" class="animation--marquee">
      <span class="{{ section.settings.font_chnage }}" style="background-image:linear-gradient(100deg,{{ section.settings.title_first }} 10%, {{ section.settings.title_second }} 63%);">{{ section.settings.title }} &nbsp;</span>
      <span class="{{ section.settings.font_chnage }}" style="background-image:linear-gradient(100deg,{{ section.settings.title_first }} 10%, {{ section.settings.title_second }} 63%);">{{ section.settings.title }} &nbsp;</span>
      <span class="{{ section.settings.font_chnage }}" style="background-image:linear-gradient(100deg,{{ section.settings.title_first }} 10%, {{ section.settings.title_second }} 63%);">{{ section.settings.title }} &nbsp;</span>
  	  <span class="{{ section.settings.font_chnage }}" style="background-image:linear-gradient(100deg,{{ section.settings.title_first }} 10%, {{ section.settings.title_second }} 63%);">{{ section.settings.title }} &nbsp;</span>
      <span class="{{ section.settings.font_chnage }}" style="background-image:linear-gradient(100deg,{{ section.settings.title_first }} 10%, {{ section.settings.title_second }} 63%);">{{ section.settings.title }} &nbsp;</span> 
  	  <span class="{{ section.settings.font_chnage }}" style="background-image:linear-gradient(100deg,{{ section.settings.title_first }} 10%, {{ section.settings.title_second }} 63%);">{{ section.settings.title }} &nbsp;</span>
  <span class="{{ section.settings.font_chnage }}" style="background-image:linear-gradient(100deg,{{ section.settings.title_first }} 10%, {{ section.settings.title_second }} 63%);">{{ section.settings.title }} &nbsp;</span>
      <span class="{{ section.settings.font_chnage }}" style="background-image:linear-gradient(100deg,{{ section.settings.title_first }} 10%, {{ section.settings.title_second }} 63%);">{{ section.settings.title }} &nbsp;</span>
      <span class="{{ section.settings.font_chnage }}" style="background-image:linear-gradient(100deg,{{ section.settings.title_first }} 10%, {{ section.settings.title_second }} 63%);">{{ section.settings.title }} &nbsp;</span>
  	  <span class="{{ section.settings.font_chnage }}" style="background-image:linear-gradient(100deg,{{ section.settings.title_first }} 10%, {{ section.settings.title_second }} 63%);">{{ section.settings.title }} &nbsp;</span>
      <span class="{{ section.settings.font_chnage }}" style="background-image:linear-gradient(100deg,{{ section.settings.title_first }} 10%, {{ section.settings.title_second }} 63%);">{{ section.settings.title }} &nbsp;</span> 
  	  <span class="{{ section.settings.font_chnage }}" style="background-image:linear-gradient(100deg,{{ section.settings.title_first }} 10%, {{ section.settings.title_second }} 63%);">{{ section.settings.title }} &nbsp;</span>
  <span class="{{ section.settings.font_chnage }}" style="background-image:linear-gradient(100deg,{{ section.settings.title_first }} 10%, {{ section.settings.title_second }} 63%);">{{ section.settings.title }} &nbsp;</span>
      <span class="{{ section.settings.font_chnage }}" style="background-image:linear-gradient(100deg,{{ section.settings.title_first }} 10%, {{ section.settings.title_second }} 63%);">{{ section.settings.title }} &nbsp;</span>
      <span class="{{ section.settings.font_chnage }}" style="background-image:linear-gradient(100deg,{{ section.settings.title_first }} 10%, {{ section.settings.title_second }} 63%);">{{ section.settings.title }} &nbsp;</span>
  	  <span class="{{ section.settings.font_chnage }}" style="background-image:linear-gradient(100deg,{{ section.settings.title_first }} 10%, {{ section.settings.title_second }} 63%);">{{ section.settings.title }} &nbsp;</span>
      <span class="{{ section.settings.font_chnage }}" style="background-image:linear-gradient(100deg,{{ section.settings.title_first }} 10%, {{ section.settings.title_second }} 63%);">{{ section.settings.title }} &nbsp;</span> 
  	  <span class="{{ section.settings.font_chnage }}" style="background-image:linear-gradient(100deg,{{ section.settings.title_first }} 10%, {{ section.settings.title_second }} 63%);">{{ section.settings.title }} &nbsp;</span>
</div>

      
<div class="instafeed_section">
<div class="insta_feed_section">
  

  <div id="insta-feeds">
{% for block in section.blocks %}
 <div class="insta_box_new">
   {% if block.settings.link != blank %}
   <a href="{{ block.settings.link }}" target="_blank">
     {% endif %}
     {% if block.settings.image != blank %}
        {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        {% include 'image-style' with image: block.settings.image, width: 545, height: 545, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
        <div id="" class="feature-row__image-wrapper js">
          <div style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%;">
            <img id=""
                 class="feature-row__image lazyload"
                 src="{{ block.settings.image | img_url: '200x200' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540]"
                 data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                 data-sizes="auto"           data-expand="-20"

                 alt="{{ block.settings.image.alt | escape }}">
          </div>
        </div>
     {% endif %}
   {% if block.settings.link != blank %}
     <div class="instafeed-overlay"></div>
   </a>
   {% endif %}
  </div>
{% endfor %}
    
    
    
    
  </div>
  

    </div>  
</div>
      




    </div>
</div>  

<script>
$(document).ready(function(){
  $('#insta-feeds').slick({
  dots: false,
  infinite: true,
  speed: 5000,
    centerMode: false,
  slidesToShow:4,
  slidesToScroll: 1,
    cssEase: 'linear',
    autoplay: true,
    autoplaySpeed: 0,
    initialSlide: 1,
  responsive: [
    {
      breakpoint: 1199,
      settings: {
        slidesToShow: 4,
        slidesToScroll: 1,
        infinite: true

      }
    },
    {
      breakpoint: 991,
      settings: {
        slidesToShow: 5,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 767,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
  
  
  
    });
  </script>


{% schema %}
{
  "name": "Instagram Feed",
  "class": "index-section instagram-section",
  "settings": [
	{
      "type": "select",
      "id": "font_chnage",
      "label": "Text Font",
      "default": "heavy-font",
	  	
      "options": [
        {
          "label": "Bold",
          "value": "bold-font"
        },
        {
          "label": "Heavy Weight",
          "value": "heavy-font"
        }
      ]
    },
	{
       "type": "header",
       "content": "Title Color"
    },
    {
          "type": "color",
          "id": "title_first",
          "label": "Title gradient color first",
		  "default":"#445e83"
     },
	 {
          "type": "color",
          "id": "title_second",
          "label": "Title gradient color second",
		  "default":"#f8aeae"
     },
	{
      "type": "text",
      "id": "title",
      "label": {
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "nl": "Kop",
        "pt-BR": "Título",
        "zh-CN": "标题",
        "zh-TW": "標題"
      }
    }
  ],

  "blocks": [
    {
      "type": "insta_image",
      "name": "Image",
	   	
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
		  "info": "Size: 600 x 600px"
        },
        {
          "type": "text",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],	
  "presets": [
    {
      "name":"Instagram New Feed",
      "category": "Images"
    }
  ]
}
{% endschema %}


