<div class="home-merch-icons home-merch-icons home_merch merch--{{ section.id }} ">
  
  
  <div class="home_merch_desk small--hide">
  {%- assign merch = section.settings.ho_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  {% include 'image-style' with image: section.settings.ho_image %}
  <img id=""
                 class="lazyload"
                 src="{{ section.settings.ho_image | img_url: '1600x' }}"
                 data-src="{{ merch }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ section.settings.ho_image.aspect_ratio }}"
                 data-sizes="auto"data-expand="-20"
                 alt="{{ section.settings.ho_image.alt | escape }}">
  </div>
  <div class="home_merch_mo large--hide">
  {%- assign mo_merch = section.settings.ho_image_mo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  {% include 'image-style' with image: section.settings.ho_image_mo %}
  <img id=""
                 class="lazyload"
                 src="{{ section.settings.ho_image_mo | img_url: '200x200' }}"
                 data-src="{{ mo_merch }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ section.settings.ho_image_mo.aspect_ratio }}"
                 data-sizes="auto"data-expand="-20"
                 alt="{{ section.settings.ho_image_mo.alt | escape }}">
    
  </div>
  <div class="home_merchinfo">
  <div class="page-width p-0 w_1053">
    <div class="home_merch_wrap merch_{{ section.settings.merch_align }} home-merch-icons">
      
      
      {% if section.settings.ho_title != blank %}
      <h3 style="color:{{ section.settings.h3_text_color}}; "class=" {{ section.id }} title-pod">{{ section.settings.ho_title  }}</h3>
      {% else %} 
      <img id=""
                 class="lazyload small--hide"
                 src="{{ section.settings.merch_image_title | img_url: '200x200' }}"
                 data-src="{{ merch_image_title }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ section.settings.merch_image_title.aspect_ratio }}"
                 data-sizes="auto"data-expand="-20"
                 alt="{{ section.settings.merch_image_title.alt | escape }}"> 
      
      <img style="margin: auto;"id=""
                 class="lazyload large--hide"
                 src="{{ section.settings.merch_image_title_mo | img_url: '200x200' }}"
                 data-src="{{ merch_image_title_mo }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ section.settings.merch_image_title.aspect_ratio }}"
                 data-sizes="auto"data-expand="-20"
                 alt="{{ section.settings.merch_image_title.alt | escape }}"> 
      <br>
      {% endif %}  
       {% if section.settings.ho_info != blank %}
      
      
      
      
      <div style=" color:{{ section.settings.ho_text_color}};" class="home_merchrte title--{{ section.id }}">
        
        <div class="text-icon">
        <img data-sizes="auto" 
             data-src="{{ section.settings.ho_image_0 | img_url: '200x' }}" alt="" class="logo-bar__image lazyautosizes  lazyload" 
             sizes="100px" 
             src="{{ section.settings.ho_image_0 | img_url: '40x' }}">

          {{ section.settings.ho_info | replace: "+", "<sup>+</sup>" }}
          </div>
         <div class="text-icon">
        <img data-sizes="auto" 
             data-src="{{ section.settings.ho_image_1 | img_url: '200x' }}" alt="" class="logo-bar__image lazyautosizes  lazyload" 
             sizes="100px" 
             src="{{ section.settings.ho_image_1 | img_url: '40x' }}">

          {{ section.settings.ho_info1 | replace: "+", "<sup>+</sup>" }}
          </div>
        
         <div class="text-icon">
        <img data-sizes="auto" 
             data-src="{{ section.settings.ho_image_2 | img_url: '200x' }}" alt="" class="logo-bar__image lazyautosizes  lazyload" 
             sizes="100px" 
             src="{{ section.settings.ho_image_2 | img_url: '40x' }}">

          {{ section.settings.ho_info2 | replace: "+", "<sup>+</sup>" }}
          </div>
        
        
      </div>
      
      
      
      
        {% endif %}  
      {% if section.settings.ho_button != blank %}
       <a style="box-shadow: 0 0 20px #ffff!important;"href="{{ section.settings.ho_button_link }}" class="btn {{ section.id }}" tabindex="0">
        <i></i>
        <span>{{ section.settings.ho_button }}</span>
      </a>
      {% endif %}  
      
    </div>
  </div>
  </div>
</div>




<style>
  .text-icon{
  display:flex;
   
  }
  .home_merch_wrap h3 .title-pod {
  color:{{ section.settings.h3_text_color}};
       margin-left:74px!important;

  },
  
  .home_merchrte .title--{{ section.id }} p {
 color:{{ section.settings.ho_text_color}}!important;
        padding: 24px 0 34px;
}
.merch--{{ section.id }}  .home_merch_wrap p{
    color:{{ section.settings.ho_text_color}};
 
      padding:0 20px 24px;
  }

  /*
  div.home_merch_wrap .btn i{
    background-image: linear-gradient(270deg, {{ section.settings.ho_background }}, {{ section.settings.ho_background }} 50%, {{ section.settings.ho_background }});
  }*/
  .merch--{{ section.id }} div.home_merch_wrap .btn {
    background-color: {{ section.settings.ho_background }}!important;
    color:{{ section.settings.ho_background_text }};
    margin-left:74px;
  }
  div.home_merch_wrap .btn i{
    background-image: linear-gradient(270deg, {{ section.settings.ho_background_first }}, {{ section.settings.ho_background_second }} 50%, {{ section.settings.ho_background_third }});
  }

  div.home_merch_wrap .btn:hover{    
    color:{{ section.settings.ho_background_text_hover}};
     background-color: {{ section.settings.ho_background_text }}!important;
  }
  
 @media(max-width:767px){
  /* .home_merch{
   background-image:none!important;
 } 
   div.home_merch_wrap .btn{
    background-color: {{ section.settings.ho_background_text }};
    color:{{ section.settings.ho_background }};
  }*/
   
 }
 @media(max-width:767px){  

.home-merch-icons.home_merch_wrap {
    padding: 40px 15px;
    background: none!important;
    position: relative!important;
    top: 33%!important;
}
    .merch--{{ section.id }} div.home_merch_wrap .btn {
   
    margin-left:0px;
  }
  .merch--{{ section.id }} h3 div.home_merch_wrap .title-pod{
  color:{{ section.settings.h3_text_color}};
       margin-left:0px!important;

  },
 .home_merch_wrap {
    background: {{ section.settings.mo_background_info }}!important;
} 
    .home_merch_wrap p {
    color: {{ section.settings.mo_text_info }}!important;
}
      .text-icon{
  display:block;
  }
 }
  
</style>

{% schema %}
  {
    "name": "learn focus icons",
    "settings": [
      {
        "type": "image_picker",
        "id": "ho_image1",
        "label": "Image vid",
        "info":"Size 1600 x 568px"
        },
        {
        "type": "image_picker",
        "id": "ho_image_mo1",
        "label": "Mobile vid bg",
        "info":"Size 800 x 568px"
        },

        {
        "type": "image_picker",
        "id": "ho_image",
        "label": "Image",
        "info":"Size 1600 x 568px"
        },
        {
        "type": "image_picker",
        "id": "ho_image_mo",
        "label": "Mobile image",
        "info":"Size 800 x 568px"
        },
{
        "type": "image_picker",
        "id": "ho_image_0",
        "label": "icon0",
        "info":"icon"
        },
{
        "type": "image_picker",
        "id": "ho_image_1",
        "label": "icon1",
        "info":"icon1"
        },
{
        "type": "image_picker",
        "id": "ho_image_2",
        "label": "icon2",
        "info":"icon2"
        },

{
        "type": "image_picker",
        "id": "merch_image_title",
        "label": "Merch image title",
        "info":"Size 200 x 200px"
        },
{
        "type": "image_picker",
        "id": "merch_image_title_mo",
        "label": "Merch image title mobile",
        "info":"Size 200 x 200px"
        },
        {
        "type": "text",
        "id": "ho_title",
        "label": "Heading"
        },
        {
        "type": "select",
        "id": "font_chnage",
        "label": "Heading Font",
        "default": "black_extended",
        "options": [
        {
        "label": "Bold",
        "value": "bold-font"
        },
        {
        "label": "Heavy Weight",
        "value": "heavy-font"
        },
        {
        "label": "Black Extended",
        "value": "black_extended"
        }
        ]
        },
        {
        "type": "richtext",
        "id": "ho_info",
        "label": "Info"
        },
 {
        "type": "richtext",
        "id": "ho_info1",
        "label": "Info1"
        },
 {
        "type": "richtext",
        "id": "ho_info2",
        "label": "Info2"
        },
        {
        "type": "color",
        "id": "ho_text_color",
        "label": "Text color"
        },
{
        "type": "color",
        "id": "h3_text_color",
        "label": "h3Text color"
        },
        {
        "type": "header",
        "content": "button section"
        },
        {
        "type": "text",
        "id": "ho_button",
        "label": "Button label"
        },
        {
        "type": "url",
        "id": "ho_button_link",
        "label": "Button link"
        },


        {
        "type": "header",
        "content": "Button color"
        },
        {
        "type": "color",
        "id": "ho_background",
        "label": "Button Background color",
        "default":"#fff"
        },
        {
        "type": "color",
        "id": "ho_background_text",
        "label": "Button text color",
        "default":"#516791"
        },
        {
        "type": "header",
        "content": "Button Hover color"
        },

        {
        "type": "color",
        "id": "ho_background_first",
        "label": "Background gradient color first",
        "default":"#516791"
        },
        {
        "type": "color",
        "id": "ho_background_second",
        "label": "Background gradient color second",
        "default":"#758bb5"
        }, 
        {
        "type": "color",
        "id": "ho_background_third",
        "label": "Background gradient color third",
        "default":"#516791"
        },
        {
        "type": "color",
        "id": "ho_background_text_hover",
        "label": "Hover button text color",
        "default":"#fff"
        },
        {
        "type": "select",
        "id": "merch_align",
        "label": "Text align",
        "default": "right",
        "options": [
        {
        "label": "Left",
        "value": "left"
        },
        {
        "label": "Center",
        "value": "center"
        },
        {
        "label": "Right",
        "value": "right"
        }

        ]
        },
        {
        "type": "header",
        "content": "Mobile info background color"
        },
        {
        "type": "color",
        "id": "mo_background_info",
        "label": "Background color",
        "default":"#f0f0f0"
        },
        {
        "type": "color",
        "id": "mo_text_info",
        "label": "Text color",
        "default":"#516791"
        }

		
],
 "presets": [
    {
      "name": "learn-focus-icons",
      "category": "Image"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

