<div class="recycle_review" style="background-color:{{ section.settings.recycle_ripple_bg }};">
  <div class="how_to_recycle_wrapper recycle_review_wrapper">
   
{% if section.settings.select_option == 'image' %}
  
    
    {% if section.settings.image != blank %}
    <div class="how_to_recycle_info">
      {{ section.settings.image | img_url: '567x102', scale: 2 | img_tag: section.settings.image.alt, '' }}
      <h6>{{ section.settings.recycle_info }}</h6>
    </div>
    {% endif %}


{%- endif -%}



{% if section.settings.select_option == 'text' %}
    
    {% if section.settings.text != blank %}
    <div class="how_to_recycle_info">
      {{ section.settings.text }}
    </div>
    {% endif %}

{%- endif -%}
    
    
    
<div class="customerreviews_section">
<div class="customerreviews_slider">
  {% for block in section.blocks %}  
  <div>    
    <div class="review_box">
      <div class="star_rating">
        <div class="star_box star_{{ block.settings.star_rat }}">
          <i>{% include 'icon-star_tr' %}{% include 'icon-star' %}</i>
          <i>{% include 'icon-star_tr' %}{% include 'icon-star' %}</i>
          <i>{% include 'icon-star_tr' %}{% include 'icon-star' %}</i>
          <i>{% include 'icon-star_tr' %}{% include 'icon-star' %}</i>
          <i>{% include 'icon-star_tr' %}{% include 'icon-star' %}</i>        
        </div>        
      </div> 
      {% if product.metafields.accentuate.customer_name != blank %}
      <h5>{{ product.metafields.accentuate.customer_name }}</h5>
      {% endif %}
      <div class="countrybox">
        {{ block.settings.country }}
      </div>      
      <div class="review_rte">
        {{ block.settings.info | replace: "+", "<sup>+</sup>" }}
      </div>      
    </div>   
  </div>
  {% endfor %}	
  </div>
</div>

    
</div>   
</div>



<style>
.cr-section {
  background: {{ section.settings.background_first }};
}
</style>

<script>
  $(document).ready(function(){
  $('.customerreviews_slider').slick({
    dots: false,
    infinite: true,
    speed: 10000,
    centerMode: true,
    variableWidth: true,
    centerPadding: '40px',
    slidesToShow:5,
    slidesToScroll: 1,
    cssEase: 'linear',
    pauseOnHover: false,
    pauseOnFocus: false,
    autoplay: true,
    autoplaySpeed: 0,
    initialSlide: 1,
    responsive: [
    {
      breakpoint: 767,
      settings: {
        autoplay: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        centerMode: true,
        cssEase: 'ease',
        centerPadding: '40px',
        speed: 1000,    
        autoplaySpeed: 3000,
        focusOnSelect: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        autoplay: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        cssEase: 'ease',
        centerMode: true,
        centerPadding: '25%',
        speed: 700,
        autoplaySpeed: 3000,
        focusOnSelect: true
      } 
    }  
  ]

});
    });
</script>

{% schema %}
  {
    "name": "Recycle Reviews",
	"class":"index-section",
    "settings": [
		{
        "type": "color",
        "id": "recycle_ripple_bg",
        "label": "Background color",
	    "default": "#fff"
        },
	{
      "type": "select",
      "id": "select_option",
      "label": "Choose option",
      "default": "image",
      "options": [
	
        {
          "label": "Image",
          "value": "image"
    	},    
       {
          "label": "Text",
          "value": "text"
        }
      ]
    },
	{
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
	{
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }

],
  "blocks": [
    {
      "type": "review",
      "name": "Reviews",
      "settings": [
		{
          "type": "text",
          "id": "title",
          "label": "Customer name",
		  "default":"John Doe"
        },
		{
          "type": "text",
          "id": "country",
          "label": "Country",
		  "default":"London, UK"	
        },
        {
          "type": "richtext",
          "id": "info",
          "label": "Customer text"
        },
		{
          "type": "text",
          "id": "star_rat",
          "label": "Star rating",
		  "default": "5"	
        },
		{
          "type": "color",
          "id": "stars_first",
          "label": "Stars color",
		  "default":"#000000"
     }
		
      ]
    }
  ],
	"presets": [
    {
      "name": "Recycle Reviews",
      "category": "Text",
      "blocks": [
        {
          "type": "review"
        },
        {
          "type": "review"
        },
        {
          "type": "review"
        }
      ]
    }
  ]
  }
{% endschema %}


