<div class="recycle_image_text" style="background-image:url('{{ product.metafields.accentuate.starter_vid_bg}}')!important;background-size: contain;">
  <div class="recycle_image_text_wrapper sec_align_left">
    <div class="half_grid">
      
<div style="padding:69.86% 0 0 0;position:relative;"><iframe class="lazyload"data-src="https://player.vimeo.com/video/722621022?h=c3bd6e3a54&amp;badge=0&amp;autoplay=1&loop=1&autopause=0&muted=1&background=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Ripple POD.mp4" loading="lazy"></iframe></div><script src="https://player.vimeo.com/api/player.js" async></script>
      
    </div>
    <div class="half_grid">
        <div style="    padding: 50px 0;MAX-WIDTH: 500PX;
    MARGIN: auto;text-align:center; width:100%">
        
     
      <img style="PADDING-BOTTOM:18PX;margin: auto;"id=""
                 class="lazyload "
                 src="{{ product.metafields.accentuate.starter_vid_tile_img }}"
                 data-src="{{ product.metafields.accentuate.starter_vid_tile_img  }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-sizes="auto"data-expand="-20"
                 loading="lazy">
         
     
      <img style="max-width:65%;margin: auto;float:none"id=""
                 class="lazyload "
                 src="{{ product.metafields.accentuate.starteer_vid_subtitle_img  }}"
                 data-src="{{ product.metafields.accentuate.starteer_vid_subtitle_img  }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-sizes="auto"data-expand="-20"
                 loading="lazy"
           >
          
        </div>
    
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "starter vid",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
